/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  
body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}